{{template "header.html" .S}}

<div class="row justify-content-center">
<div class="col-sm-10">
	<h4>Page not found</h4>
	<p>
	The requested page don't exist.
	</p>
</div>
</div>

{{template "footer.html" .S}}
