{{template "header.html" .S}}

<h4>Dashboard</h4>

<div class="row justify-content-center">
<div class="col-sm-8">
  <ul class="nav flex-column">
	{{if eq .S.Role "admin" "moderator"}}
	  <li class="nav-item">
		<a class="nav-link" href="/submission/moderate/">
		  <svg class="bi" width="1em" height="1em" fill="currentColor">
		    <use xlink:href="/img/bootstrap-icons.svg#journal-check"/>
		  </svg>
		  Moderate submissions
		</a>
	  </li>
	  {{if eq .S.Role "admin"}}
	  <li class="nav-item">
		<a class="nav-link" href="/news/edit">
		  <svg class="bi" width="1em" height="1em" fill="currentColor">
		    <use xlink:href="/img/bootstrap-icons.svg#newspaper"/>
		  </svg>
		  Edit news
		</a>
	  </li>
	  {{end}}
	{{end}}
	<li class="nav-item">
	  <a class="nav-link" href="/submission/">
	    <svg class="bi" width="1em" height="1em" fill="currentColor">
	      <use xlink:href="/img/bootstrap-icons.svg#journal-arrow-up"/>
	    </svg>
	    Submissions
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="/settings/">
	    <svg class="bi" width="1em" height="1em" fill="currentColor">
	      <use xlink:href="/img/bootstrap-icons.svg#gear"/>
	    </svg>
	    Settings
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="/logout/">
	    <svg class="bi" width="1em" height="1em" fill="currentColor">
	      <use xlink:href="/img/bootstrap-icons.svg#power"/>
	    </svg>
	    Log Out
	  </a>
	</li>
  </ul>
</div>
</div>

{{if .Lists}}
<br />
<h4>My book lists</h4>
<div class="row justify-content-center">
  <div class="col-8">
	<ul class="nav flex-column">
      {{range .Lists}}
	    <li class="nav-item">
		  <a class="nav-link" href="/list/{{.ListID}}">{{.Title}} ({{len .Books}})</a>
		</li>
      {{end}}
	</ul>
  </div>
</div>
{{end}}

{{template "footer.html" .S}}
